@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*:root {
    --light-bg: linear-gradient(90deg, rgb(5, 137, 224) 0%, rgb(21, 36, 245) 100%);
    --dark-blue: #040129;
}

/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

/* Hide scroll input button*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}   

/* Firefox */
input[type=number] {
    appearance: auto;
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ===== Header & Footer ===== */

.header-footer {
    width: 100%;
    height: 11vh;
    color: white;
    background-color: var(--dark-blue);
    user-select: none;
    display: grid;
    align-items: center;
    justify-content: center;
}

footer {
    border-top: 1px solid white;
}

header {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid white;
}

header h1 {
    text-align: end;
}

header h2 {
    margin-left: 4px;
    text-align: start;
    letter-spacing: -6px;
}


/* ===== Body ===== */

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#content {
    background: var(--light-bg);    
    display: grid;
    grid-template-columns: 15% 85%;
}

main, aside{
    min-height: 100vh;
}

aside {
    background: linear-gradient(to right, #dfdee2, #f7f7f8);
    border: 1px solid white;
}

main {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

/* ===== Aside ===== */

#projects-btns {
    display: grid;
    width: 100%;
    margin: 20px 0;
    color: rgb(49, 55, 68);
}

.project-btn {
    text-align: center;
}

.project-add-container {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 5px 0 0 0;
    border-bottom: 1px solid rgb(182, 182, 182);
    text-align: center;
    align-items: center;
}

/* ===== Botones ===== */

button {
    background: linear-gradient(to left, #dfdee2, #f7f7f8);
    font-size: .9rem;
    font-weight: 600;
    padding: .75rem 1rem;
    text-align: center;
    border-bottom: 1px solid rgb(189, 189, 189);
    cursor: pointer;
    user-select: none;
    max-height: 7vh;
    color: rgb(20, 18, 27);
}

button:hover {
    background: linear-gradient(to right, #dfdee2, #f7f7f8);
}

button:active {
    background-color: rgb(225, 226, 228);
}

#all-task-btn {
    margin: 3.5vh 0 0 0;
    width: 100%;
}

#add-project-btn {
    margin: 0;
    border: 0;
    border-left: 1px solid rgb(187, 187, 187);
}

#tasks {
    margin-top: 5px;
    width: 99%;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    align-items: center;
    gap: 2px 0;
}

.task {
    background: linear-gradient(to right, #e7e7e7, #f7f7f8);
    min-height: 8vh;
    width: 100%;
    display: grid;
    align-items: center;
    padding: 5px;
    grid-template-columns: 3% 97%;
    border: 1px solid white;
}

input[type=checkbox] {
    transform: scale(1.5);
}