@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800&display=swap');

*:root {
    --light-bg: linear-gradient(to right, #dfdee2, #f7f7f8);
    --dark-blue: radial-gradient(circle, #729ab4, #365777);
    --light-gray: rgb(156, 156, 156);
    --gray-gradient: linear-gradient(to right, #dfdee2, #f7f7f8);
    --letter-color: rgb(0, 0, 0);
}

/* ===== CSS RESET ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

button,
input {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

input[type='text'],
input[type='number'] {
  cursor: text;
}

/* Hide scroll input button*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}   

/* Firefox */
input[type=number] {
    appearance: auto;
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
    color: inherit;
}


/* ===== Header & Footer ===== */

.header-footer {
    width: 100%;
    height: 11vh;
    background: radial-gradient(circle, #396afc, #2948ff);
    color: white;
    user-select: none;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

footer {
    border-top: 2px solid white;
}

header {
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid white;
}

header h1 {
    text-align: end;
    font-weight: 800;
}

header h2 {
    margin-left: 4px;
    text-align: start;
    letter-spacing: -6px;
}

/* ===== Body ===== */

body {
    font-family:  'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#content {
    background: var(--light-bg);    
    display: grid;
    grid-template-columns: 15% 85%;
}

main, aside{
    min-height: 100vh;
}

aside {
    background: var(--gray-gradient);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.1);
}

main {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}


/* ===== Aside ===== */

#projects-btns {
    display: grid;
    width: 100%;
    margin: 20px 0;
    color: rgb(49, 55, 68);
}

.project-btn {
    text-align: center;
}

.project-add-container {
    display: grid;
    grid-template-columns: 80% 20%;
    margin: 5px 0 0 0;
    border-bottom: 1px solid var(--light-gray);
    text-align: center;
    align-items: center;
}

/* ===== Botones ===== */

button {
    background: var(--gray-gradient);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.3);
    margin-bottom: 3px;
    font-size: .9rem;
    font-weight: 600;
    padding: .75rem 1rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    max-height: 7vh;
    color: var(--letter-color);
}

button:hover {
    background: linear-gradient(to right, #dadada, #dddddd);
}

button:active {
    background: linear-gradient(to right, #c5c5c5, #dfdfdf);
}

#all-task-btn {
    margin: 3.5vh 0 0 0;
    width: 100%;
}

#add-project-btn {
    margin: 0;
    border: 0;
    border-left: 1px solid var(--light-gray);
}

/* ===== tasks ===== */

#tasks-tittle {
    margin: 10px 0 15px 0;
    border-bottom: 2px solid var(--light-gray);
    text-align: start;
    height: fit-content;
    color: rgb(43, 43, 43);
}

#tasks {
    margin-top: 5px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    height: fit-content;
    gap: 3px 0;
    padding: 5vh 0;
}

.task {
    min-height: 8vh;
    width: 100%;
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-columns: 5% 95%;
    
    background: var(--gray-gradient);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.55);
    border-radius: 22px;
}


/* ===== Checkboxes ===== */

.chk-lbl {
    justify-self: center;
}

input[type=checkbox] {  
    transform: scale(1.8);
    border: none;
}